<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-murasakiw/blob/main/Actividad_de_semana1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Science**

# Module 1: Python Basics

## Your First Program

In [ ]:
#Un error sintáctico(syntactic error) es cuando python no entiende el código
#Por ejemplo, si se escribe frint en lugar de print
print('Hello Python 101')

Hello Python 101

In [ ]:
print('Hello\nWorld') #\n se utiliza para insertar una nueva línea

Hello
World

##Types

In [ ]:
#Cómo python representa diferentes tipos de datos
#type() se utiliza para ver el tipo de dato
print(type(11)) #Dato entero
print(type(21.213)) #Número real
print(type('Hello')) #Secuencia de caracteres

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#Se puede cambiar el tipo de una expresión en python y esto es llamado type-casting
print(float(2))
print(int(1.1))

2.0
1

In [ ]:
#Se pueden convertir cadenas con un valor entero a int
print(int('1234'))

1234

In [ ]:
#No se pueden convertir cadenas que no tienen valor entero
print(int('a')) #Esto arroja un error

In [ ]:
#Un boolean puede tomar dos valores True o False
print(type(True))
print(int(True)) #Convierte tipo bool True en 1
print(int(False)) ##Convierte tipo bool False en 0
print(bool(1)) #Convierte tipo int en True
print(bool(0)) ##Convierte tipo int en False

<class 'bool'>
1
0
True
False

## Expressions and Variables

###Expressions

In [9]:
#Las expresiones son operaciones que realiza python
print(43+60+16+41) #Los números son llamados operandos y los símbolos(+) son llamados operadores
print(50-60)
print(25*5)
print(25/6)
print(25//6) #División entera, el resultado se redondea
print(2*60+30) #Python sigue las convenciones matemáticas cuando se realizan operaciones
print((30+2)*60)

160
-10
125
4.166666666666667
4
150
1920

### Variables

In [17]:
#Las variables se utilizan para almacenar valores
my_variable = 1

In [18]:
my_variable

1

In [19]:
my_variable = 10 #Con el operador de asignación(=) se puede asignar un nuevo valor

In [20]:
my_variable

10

In [26]:
x = 32 + 12 + 10 + 5 #La variable x guarda el resultado de toda la operación
x

59

In [23]:
y = x/6 #Se pueden realizar operaciones sobre una variable y guardar el resultado en otra
y

9.833333333333334

In [27]:
x = x/8 #También se pueden realizar operaciones sobre la variable y almacenar el resultado en la misma variable
x

7.375

In [28]:
type(x) #Se puede usar type sobre variables

float

In [29]:
#Una buena práctica es utilizar nombres de variables con significado
total_min = 43 + 42 + 57 #El nombre de la variable hace referencia al total de minutos de un álbum musical
total_hr = total_min/60 #El nombre de la variable hace referencia a la conversión a horas del total de minutos
total_hr

2.3666666666666667

In [30]:
#Para saber qué versión de python se está utilizando
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [31]:
#Para obtener información acerca del tipo float
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)