<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-murasakiw/blob/main/Actividad_de_semana1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Science**

# Module 1: Python Basics

## Your First Program

In [2]:
#Un error sintáctico(syntactic error) es cuando python no entiende el código
#Por ejemplo, si se escribe frint en lugar de print
print('Hello Python 101')

Hello Python 101

In [3]:
print('Hello\nWorld') #\n se utiliza para insertar una nueva línea

Hello
World

##Types

In [6]:
#Cómo python representa diferentes tipos de datos
#type() se utiliza para ver el tipo de dato
print(type(11)) #Dato entero
print(type(21.213)) #Número real
print(type('Hello')) #Secuencia de caracteres

<class 'int'>
<class 'float'>
<class 'str'>

In [12]:
#Se puede cambiar el tipo de una expresión en python y esto es llamado type-casting
print(float(2))
print(int(1.1))

2.0
1

In [13]:
#Se pueden convertir cadenas con un valor entero a int
print(int('1234'))

1234

In [ ]:
#No se pueden convertir cadenas que no tienen valor entero
print(int('a')) #Esto arroja un error

In [16]:
#Un boolean puede tomar dos valores True o False
print(type(True))
print(int(True)) #Convierte tipo bool True en 1
print(int(False)) ##Convierte tipo bool False en 0
print(bool(1)) #Convierte tipo int en True
print(bool(0)) ##Convierte tipo int en False

<class 'bool'>
1
0
True
False

## Expressions and Variables