<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-murasakiw/blob/main/Actividad_de_semana1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nombre: Sergio Omar Esparza Hernández
Matrícula: A01794338

# **Python for Data Science**

# Module 1: Python Basics

## Your First Program

In [ ]:
#Un error sintáctico(syntactic error) es cuando python no entiende el código
#Por ejemplo, si se escribe frint en lugar de print
print('Hello Python 101')

Hello Python 101

In [ ]:
print('Hello\nWorld') #\n se utiliza para insertar una nueva línea

Hello
World

##Types

In [ ]:
#Cómo python representa diferentes tipos de datos
#type() se utiliza para ver el tipo de dato
print(type(11)) #Dato entero
print(type(21.213)) #Número real
print(type('Hello')) #Secuencia de caracteres

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#Se puede cambiar el tipo de una expresión en python y esto es llamado type-casting
print(float(2))
print(int(1.1))

2.0
1

In [ ]:
#Se pueden convertir cadenas con un valor entero a int
print(int('1234'))

1234

In [ ]:
#No se pueden convertir cadenas que no tienen valor entero
print(int('a')) #Esto arroja un error

In [ ]:
#Un boolean puede tomar dos valores True o False
print(type(True))
print(int(True)) #Convierte tipo bool True en 1
print(int(False)) ##Convierte tipo bool False en 0
print(bool(1)) #Convierte tipo int en True
print(bool(0)) ##Convierte tipo int en False

<class 'bool'>
1
0
True
False

## Expressions and Variables

###Expressions

In [ ]:
#Las expresiones son operaciones que realiza python
print(43+60+16+41) #Los números son llamados operandos y los símbolos(+) son llamados operadores
print(50-60)
print(25*5)
print(25/6)
print(25//6) #División entera, el resultado se redondea
print(2*60+30) #Python sigue las convenciones matemáticas cuando se realizan operaciones
print((30+2)*60)

160
-10
125
4.166666666666667
4
150
1920

### Variables

In [ ]:
#Las variables se utilizan para almacenar valores
my_variable = 1

In [ ]:
my_variable

1

In [ ]:
my_variable = 10 #Con el operador de asignación(=) se puede asignar un nuevo valor

In [ ]:
my_variable

10

In [ ]:
x = 32 + 12 + 10 + 5 #La variable x guarda el resultado de toda la operación
x

59

In [ ]:
y = x/6 #Se pueden realizar operaciones sobre una variable y guardar el resultado en otra
y

9.833333333333334

In [ ]:
x = x/8 #También se pueden realizar operaciones sobre la variable y almacenar el resultado en la misma variable
x

7.375

In [ ]:
type(x) #Se puede usar type sobre variables

float

In [ ]:
#Una buena práctica es utilizar nombres de variables con significado
total_min = 43 + 42 + 57 #El nombre de la variable hace referencia al total de minutos de un álbum musical
total_hr = total_min/60 #El nombre de la variable hace referencia a la conversión a horas del total de minutos
total_hr

2.3666666666666667

In [ ]:
#Para saber qué versión de python se está utilizando
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
#Para obtener información acerca del tipo float
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

##String Operations

In [ ]:
#Una string es una secuencia de caracteres
name = 'Omar Esparza' #Se pueden guardar strings en una variable
#Se puede acceder a cada carácter de la string con índices
#Los índices siempre comienzan en 0
#Se pueden utilizar índices negativos, con -1 se accede al último carácter de la string
#Al irle restando números al índice, se van recorriendo los caracteres en orden inverso,
#es decir, de derecha a izquierda

In [ ]:
#Slicing
#Consiste en obtener partes de la cadena completa, indicando el índice inicial
#y final. El resultado será una cadena que va desde el índice inicial hasta un
#carácter antes del índice final indicado
name_slice = name[0:5]
name_slice

'Omar '

In [ ]:
#Stride
#Regresa los carácteres siguiendo el paso índicado
name_slice_2 = name[::2] #Regresa los caracteres del inicio hasta el final, pero recorriendo de dos en dos la cadena
name_slice_2

'Oa saz'

In [ ]:
#También se puede indicar el índice inicial y final cuando se indica el número correspondiente al paso
name_slice_3 = name[1:6:2]
name_slice_3

'mrE'

In [ ]:
#La instrucción len() se puede utilizar para obtener la longitud de una string
len(name)

12

In [ ]:
#Concatenar o combinar strings con el símbolo +
name_concat = name + ' es el mejor'
name_concat

'Omar Esparza es el mejor'

In [ ]:
#Multiplicar los valores de una string al multiplicarlos por un número
3*name

'Omar EsparzaOmar EsparzaOmar Esparza'

In [ ]:
#Las strings son inmutables, es decir, no puedes cambiar el valor de estas
#pero se puede crear una nueva string y guardarla en la misma variable
name[0] = 'S' #Esto no se puede hacer

In [ ]:
#Secuencias de escape
#Las secuencias de escape representan strings que pueden ser difíciles de ingresar
#Estas secuencias comienzan con(\)
print('Hola\namigos')#\n Representa una nueva línea
print('Hola\tamigos')#\t Representa una tabulación
print('Hola\\amigos')#\\ Es para escribir una sola \
print(r'Hola\amigos')#Otra forma de escribir \ es colocar una r antes de la comilla inicial

Hola
amigos
Hola	amigos
Hola\amigos
Hola\amigos

###String methods

In [ ]:
A = "Leer es bueno para la mente"
B = A.upper() #Este método transforma todas las letras minúsculas en mayúsculas
B

'LEER ES BUENO PARA LA MENTE'

In [ ]:
C = A.replace('Leer', 'Dormir') #Este método reemplaza la primera string por la segunda en la string guardada en la variable A
C

'Dormir es bueno para la mente'

In [ ]:
A.find('para') #Este método regresa el índice en el que comienza la string especificada

14

In [ ]:
#Si la string que se desea encontrar, no está en la string en la que se busca, entonces se obtiene un -1 como resultado
A.find('corazón')

-1

#Module 2: Python Data Structures

##Lists and Tuples

###Tuples

In [ ]:
#Son llamados tipos de datos compuestos
#Tuplas-Son secuencias ordenadas
#Son expresadas con elementos separados por comas dentro de paréntesis
#Los diferentes tipos de datos de Python pueden colocarse dentro de una tupla
tuple_1 = ('hola', 5, 1.5)
print(type(tuple_1)) #El tipo de dato de una tupla siempre será tuple

<class 'tuple'>

In [ ]:
#Cada elemento de la tupla puede ser obtenido por un índice
print(tuple_1[0])
#De igual manera se pueden utilizar índices negativos
print(tuple_1[-1])

hola
1.5

In [ ]:
#Se pueden combinar tuplas al concatenarlas
tuple_2 = tuple_1 + ('adios', 50)
tuple_2

('hola', 5, 1.5, 'adios', 50)

In [ ]:
#El slicing también puede ser utilizado con las tuplas para obtener solo una parte
tuple_2[0:3]

('hola', 5, 1.5)

In [ ]:
#La instrucción len se puede utilizar también para obtener el tamaño de la tupla
len(tuple_2)

5

In [ ]:
#Las tuplas son inmutables, es decir, no se pueden modificar
#Si se requiere modificar una tupla, es necesario crear una nueva tupla y guardar ahí las modificaciones
ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
print(ratings)
ratings_sorted = sorted(ratings) #La función sorted ordena los elementos y regresa una lista
print(ratings_sorted)

(10, 9, 6, 5, 10, 8, 9, 6, 2)
[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [ ]:
#Una tupla puede contener otras tuplas dentro de su estructura, esto se llama nesting
nested_tuple = (1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))
nested_tuple

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [ ]:
#Para acceder a los elementos dentro del nesting es necesario usar corchetes seguidos dependiendo de la profundidad 
nested_tuple[4][1][0]

1

In [ ]:
#Para obtener el índice en el que existe una coincidencia con el argumento del método
ratings.index(8)

5

###Lists

In [ ]:
#Las listas también son secuencias ordenadas
#Una lista es representada con corchetes
#Las listas son mutables, es decir, que se pueden modificar
#Las listas pueden contener diferentes tipos de datos
lista = ['Hola', 10.1, 23, 1982]
lista

['Hola', 10.1, 23, 1982]

In [ ]:
#También se puede hacer nesting con las listas
nested_list = ['Hola', 10.1, 1982, [1, 2], ('A', 1)]
nested_list

['Hola', 10.1, 1982, [1, 2], ('A', 1)]

In [ ]:
#Cada elemento de una lista puede ser obtenido a través de su índice
print(lista[0])
#Índices negativos se pueden utilizar para acceder a los elementos en orden inverso
print(lista[-1])

Hola
1982

In [ ]:
#El slicing también se puede utilizar para obtener solo una parte de la lista
lista[2:4]

[23, 1982]

In [ ]:
#Se pueden combinar listas utilizando el símbolo +
lista_2 = lista + ['adiós', 25]
lista_2

['Hola', 10.1, 23, 1982, 'adiós', 25]

In [ ]:
#Con el método extend se pueden agregar elementos a la lista
#Esto se puede realizar, ya que la lista es un tipo de dato mutable
lista.extend(['perro', 'gato', 6])
lista

['Hola', 10.1, 23, 1982, 'perro', 'gato', 6]

In [ ]:
#El método append agrega solo un elemento al final de la lista
#Por eso la lista se añade como solo un elemento y no se combina con la otra lista
lista.append(['dos', 1])
lista

['Hola', 10.1, 23, 1982, 'perro', 'gato', 6, ['dos', 1], ['dos', 1]]

In [ ]:
#También se puede cambiar cualquier elemento de la lista, ya que es un elemento mutable
lista[0] = 'Saludo'
lista

['Saludo', 10.1, 23, 1982, 'perro', 'gato', 6, ['dos', 1], ['dos', 1]]

In [ ]:
#Para borrar un elemento de la lista se utiliza la instrucción del e indicando el elemento
del(lista[0])
lista

[10.1, 23, 1982, 'perro', 'gato', 6, ['dos', 1], ['dos', 1]]

In [ ]:
#Se puede convertir una string en una lista con el método split
#Se convierte cada string separada por un espacio a una lista
list_split = 'hard rock'.split()
list_split

['hard', 'rock']

In [ ]:
#Se puede pasar como argumento un separador al método split
#Entonces cada string será separada siguiendo el separador indicado
list_2_split = 'A,B,C,D'.split(',')
list_2_split

['A', 'B', 'C', 'D']

In [ ]:
#Cuando se asigna a una variable otra variable que tiene asignada una lista
#Las dos variables hacen referencia a la misma lista y si se modifica una variable, también se modifica la otra
#Multiples nombres que se refieren al mismo objeto se conoce como aliasing
lista_A = [1, 2, 3, 4, 5]
lista_B = lista_A #Si se modifica la lista_A, también se modifica la lista_B
lista_A.extend([6, 7, 8])
print(f'lista_A: {lista_A}')
print(f'lista_B: {lista_B}')

lista_A: [1, 2, 3, 4, 5, 6, 7, 8]
lista_B: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#Para evitar efectos adversos se puede clonar una lista y así se evita que varias variables hagan referencia al mismo objeto
lista_C = [1, 2, 3, 4, 5]
lista_D = lista_C[:]
lista_C.extend([6, 7, 8, 9]) 
#Solo se modifica una lista, ya que ya no hacen referencia al mismo objeto
print(f'lista_C: {lista_C}')
print(f'lista_D: {lista_D}')

lista_C: [1, 2, 3, 4, 5, 6, 7, 8, 9]
lista_D: [1, 2, 3, 4, 5]

##Sets

In [ ]:
#Los sets son un tipo de colección
#A los sets se les pueden ingresar diferentes tipos de datos de Python
#Los sets no están ordenados, a diferencia de las listas y tuplas
#Los sets no almacenan la posición de los elementos
#Los sets solo tienen elementos únicos, solo hay uno de un elemento particular
set_1 = {'perro', 'gato', 'león', 'tiburón', 'oso', 'nutria', 'perro', 'gato'}
set_1 #Cuando un set es creado, no habrá elementos duplicados

{'gato', 'león', 'nutria', 'oso', 'perro', 'tiburón'}

In [ ]:
#Se puede convertir una lista en un set al usar la función set
lista = [1, 2, 3, 4, 5]
set_lista = set(lista)
set_lista

{1, 2, 3, 4, 5}

In [ ]:
#Operaciones para modificar un set
#Agregar un elemento al set con el método add
set_A = {'perro', 'león', 'gato'}
print(set_A)
set_A.add('oso')
print(set_A)

{'perro', 'gato', 'león'}
{'perro', 'gato', 'león', 'oso'}

In [ ]:
#Para remover un elemento de un set, se utiliza el método remove
set_A.remove('perro')
print(set_A)

{'gato', 'león', 'oso'}

In [ ]:
#Con la instrucción in se puede averiguar si un elemento está en el set
#Si el elemento está en el set regresa True, si no está regresa False
'perro' in set_A

False

In [ ]:
#Operaciones matemáticas de los sets
set_animales_1 = {'perro', 'gato', 'pez', 'tortuga'}
set_animales_2 = {'perro', 'gato', 'conejo', 'hurón', 'loro'}
set_animales = set_animales_1 & set_animales_2 #Este set está compuesto por los elementos que comparten los dos sets
#También se puede hacer la intersección con set_animales_1.intersection(set_animales_2)
set_animales #El resultado es como una intersección en un diagrama de Venn

{'gato', 'perro'}

In [ ]:
#La unión de dos sets resulta en un nuevo set que contiene todos los elementos de los dos sets
#Es como la unión de dos conjuntos
set_union = set_animales_1.union(set_animales_2)
set_union #Se guarda en este set la unión de los dos sets

{'conejo', 'gato', 'hurón', 'loro', 'perro', 'pez', 'tortuga'}

In [ ]:
#Se pueden obtener los elementos que solo forman parte de un set con el método difference
set_animales_unicos_1 = set_animales_1.difference(set_animales_2)
set_animales_unicos_2 = set_animales_2.difference(set_animales_1)
set_animales_unicos_1, set_animales_unicos_2

({'pez', 'tortuga'}, {'conejo', 'hurón', 'loro'})

In [ ]:
#Se puede verificar si un set es subset de otro
#En conjuntos, se puede decir que un set contiene al otro
set_2 = {'perro', 'gato', 'huron', 'loro'}
set_3 = {'perro', 'gato'}
set_3.issubset(set_2) #Con este método se verifica si el set_3 es subset del set_2
#True si es subset y False si no es subset

True

In [ ]:
#De igual manera, se puede verificar si un set es superset de otro
set_2.issuperset(set_3) #Con este método se verifica si el set_2 es superset del set_3
#True si es superset y False si no es superset

True

##Dictionaries

In [ ]:
#Los diccionarios también son un tipo de colección en Python
#Un diccionario tiene llaves(keys) y valores(values)
#Una llave es como un índice pero con una etiqueta, usualmente son caracteres
#Las llaves son el primer elemento de un diccionario, deben de ser inmutables y únicas
#Los valores pueden ser inmutables, mutables y duplicados
diccionario = {'key1':1, 'key2':'2', 'key3':[3, 3, 3], 'key4':(4, 4, 4), 'key5':5}
diccionario

{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5}

In [ ]:
albums = {'Thriller': '1982', 'Back in Black': '1980', 'The Dark Side of the Moon': '1973',
          'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Their Greatest...': '1976',
          'Saturday Night Fever': '1977', 'Rumors': '1977'}

In [ ]:
albums['Thriller'], albums['Rumors'], albums['The Dark Side of the Moon'] #Para acceder a los valores se necesita colocar la llave entre corchetes

('1982', '1977', '1973')

In [ ]:
#Para añadir un nuevo par de llave-valor al diccionario se hace de esta manera <nombre del diccionario>[<llave>]=<valor>
albums['Graduation'] = '2007'
albums

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest...': '1976',
 'Saturday Night Fever': '1977',
 'Rumors': '1977',
 'Graduation': '2007'}

In [ ]:
#Para borrar un par llave-valor del diccionario, se utiliza la función del
del(albums['Thriller'])
albums

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest...': '1976',
 'Saturday Night Fever': '1977',
 'Rumors': '1977',
 'Graduation': '2007'}

In [ ]:
#Se puede verificar si un elemento se encuentra en el diccionario con la instrucción in
#Regresa un valor True si el elemento se encuentra y un valor False si el elemento no se encuentra
'The Bodyguard' in albums, 'Starboy' in albums

(True, False)

In [ ]:
#El método keys regresa todas las llaves del diccionario
albums.keys()

dict_keys(['Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest...', 'Saturday Night Fever', 'Rumors', 'Graduation'])

In [ ]:
#El método values regresa todos los valores del diccionario
albums.values()

dict_values(['1980', '1973', '1992', '1977', '1976', '1977', '1977', '2007'])

In [ ]:
#Un diccionario vacío se define con solo dos llaves vacías {}
diccionario_vacio = {}
diccionario_vacio

{}

#Module 3: Python Programming Fundamentals

##Conditions and Branching

In [16]:
#Las operaciones de comparación comparan algunos valores u operandos
#Estas operaciones producen un valor boolean basado en alguna condición
a=6
#Con el operador de igualdad(==) se puede comparar si dos valores son iguales
#Si los valores son iguales se obtiene un True y en caso contrario se obtiene un False
a==7, a==6

(False, True)

In [17]:
#Con el operador mayor que(>) se obtiene un valor True si el operando a la izquierda es mayor que el operando de la derecha
i=6
i>5, i>9

(True, False)

In [18]:
#Con el operador mayor o igual que(>=) se obtiene un valor True si el operando a la izquierda es mayor o igual que el operando de la derecha
i>=5, i>=6, i>=9

(True, True, False)

In [19]:
#Con el operador menor que(>) se obtiene un valor True si el operando a la izquierda es menor que el operando de la derecha
i<9, i<3

(True, False)

In [20]:
#Con el operador de desigualdad (!=) se puede verificar si dos datos son diferentes
#La comparación regresa un valor True si los valores son diferentes y False en caso contrario
i!=6, i!=5

(False, True)

In [22]:
#El operador de igualdad también se pude utilizar para comparar strings
print('AC/DC'=='Michael Jackson')
print('AC/DC'!='Michael Jackson')

False
True

###Branching

In [23]:
#Permite ejecutar diferentes instrucciones para entradas diferentes
#La instrucción if permite ejecutar una tarea solo si el resultado de la comparación es True
age = 19
if (age>18):
  print('You can enter') #Esta instrucción se ejecuta si la condición es verdadera
print('move on')

You can enter
move on

In [24]:
#La instrucción else ejecutará un bloque de código diferente si la condición de la instrucción if es False
age = 17
if (age>18):
  print('You can enter') #Esta instrucción se ejecuta si la condición es verdadera
else:
  print('go see Meat Loaf') #Esta instrucción se ejecuta si la condición es falsa
print('move on')

go see Meat Loaf
move on

In [26]:
#La instrucción elif permite verificar condiciones extra, si la condición previa es falsa
age = 18
if (age>18):
  print('You can enter') #Primera condición a evaluar
elif(age==18):
  print('go see Pink Floyd') #Otra condición a evaluar si la anterior es falsa
else:
  print('go see Meat Loaf') #Esta instrucción se ejecuta si todas las condiciones previas son falsas
print('move on')

go see Pink Floyd
move on

###Logic Operators

In [28]:
#Las operaciones lógicas toman valores booleanos y producen un nuevo valor booleano
#Operador not-Si la entrada es True, la salida es False y viceversa
not(True), not(False)

(False, True)

In [29]:
#El operador OR regresa un valor True mientras haya un operando con valor True
album_year = 1990
if(album_year < 1980) or (album_year > 1989):
  print("The album was made in the 70's or 90's")
else:
  print("The album was made in the 1980's")

The album was made in the 70's or 90's

In [30]:
#El operador AND solamente regresa un valor True cuando todos los operandos son True
album_year = 1983
if(album_year > 1979) and (album_year < 1990):
  print("The album was made in the 80's")

The album was made in the 80's

##Loops

In [31]:
#La función range arroja una secuencia ordenada 
range(9) #Si solo se le pasa un argumento, entonces la lista comienza en cero

range(0, 9)

In [32]:
range(10,15) #Si se le pasan dos argumentos, la secuencia comienza en el primer número y finaliza en el segundo
#En python3 la función range no genera una lista explícitamente

range(10, 15)

###For loops

In [33]:
#Los ciclos(loops) ejecutan una tarea una y otra vez
squares = ['red', 'yellow', 'green', 'purple', 'blue']
for i in range(0, 5): #Sintaxis del ciclo for en python
  squares[i] = 'white'
squares

['white', 'white', 'white', 'white', 'white']

In [35]:
#Se puede iterar a través de una lista o tupla en python sin necesidad de utilizar índices
squares_1 = ['red', 'yellow', 'green']
for square in squares_1: #La variable square toma un diferente valor de la lista con cada iteración
  print(square)

red
yellow
green

In [37]:
#Utilizando la función enumerate para obtener los índices y los valores al iterar una lista
for i, square in enumerate(squares_1):
  print(square, i)

red 0
yellow 1
green 2

###While loops

In [38]:
#Los while loops son similares a los for loops, pero estos ciclos solo corren cuando una condición se cumple
squares = ['orange', 'orange', 'purple', 'blue']
new_squares = []
i = 0
while(squares[i]=='orange'): #El ciclo se ejecuta mientras la condición de la instrucción while sea verdadera
  new_squares.append(squares[i])
  i=i+1
new_squares

['orange', 'orange']