<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-murasakiw/blob/main/Semana2_Actividad1_Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Nombre: Sergio Omar Esparza Hernández
* Matrícula: A01794338

# Semana 2 Actividad 1
# Python for Data Science(IBM) Módulo 4

##Reading Files with Open

In [ ]:
#La función open se utiliza para obtener un objeto de tipo file
file1 = open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto.txt', 'r') #El primer argumento es la ruta, el segundo argumento es el modo
#Existen diferentes valores para el modo, estos son 'r' para lectura, 'w' para escritura y 'a' para appending

In [ ]:
file1.name #Se utiliza el atributo name del objeto para obtener el nombre del archivo

'/content/drive/MyDrive/archivos_para_colab/Archivo_texto.txt'

In [ ]:
file1.mode #Se puede utilizar el atributo mode para consultar en que modo se creo el objeto de tipo file

'r'

In [ ]:
file1.close() #Siempre se debe de cerrar el objeto de tipo file con el método close

In [ ]:
#Utilizar la instrucción with para abrir un archivo es una mejor práctica, ya que esta instrucción automáticamente cierra el archivo
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto.txt', 'r') as file1:
  file_data = file1.read()
  print(file_data) #Se ejecutan todas las acciones dentro de la indentación y despues se cierra el archivo

print(file1.closed) #Para verificar si el archivo se cerró, arroja True cuando el archivo se cerró
print(file_data)

Nombre: Sergio Omar Esparza Hernández
Matrícula: A01794338
Ingeniero mecatrónico
Etudiante de maestría en inteligencia artificial
True
Nombre: Sergio Omar Esparza Hernández
Matrícula: A01794338
Ingeniero mecatrónico
Etudiante de maestría en inteligencia artificial

In [ ]:
file_data #Lo que se guarda en la variable file_data para que python lo muestre como está en el documento

'Nombre: Sergio Omar Esparza Hernández\nMatrícula: A01794338\nIngeniero mecatrónico\nEtudiante de maestría en inteligencia artificial'

In [ ]:
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto.txt', 'r') as file1:
  file_data_list = file1.readlines() #Con este método se obtienen los renglones uno por uno y se guardan en una lista
  print(file_data_list) #Se ejecutan todas las acciones dentro de la indentación y despues se cierra el archivo

print(file1.closed) #Para verificar si el archivo se cerró, arroja True cuando el archivo se cerró

['Nombre: Sergio Omar Esparza Hernández\n', 'Matrícula: A01794338\n', 'Ingeniero mecatrónico\n', 'Etudiante de maestría en inteligencia artificial']
True

In [ ]:
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto.txt', 'r') as file1:
  line = file1.readline() #Con este método se obtiene el primer renglón del documento
  print(line) 
  line = file1.readline() #Si se vuelve a llamar el método readline, entonces se obtiene el segundo renglón y así sucesivamente si se vuelve a llamar al método dentro de la misma indentación
  print(line) 

print(file1.closed) #Para verificar si el archivo se cerró, arroja True cuando el archivo se cerró

Nombre: Sergio Omar Esparza Hernández

Matrícula: A01794338

True

In [ ]:
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto.txt', 'r') as file1:
  for line in file1: #Se puede utilizar un for para imprimir todos los renglones del documento
    print(line)

Nombre: Sergio Omar Esparza Hernández

Matrícula: A01794338

Ingeniero mecatrónico

Etudiante de maestría en inteligencia artificial

In [ ]:
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto.txt', 'r') as file1:
  file_data_list = file1.readlines(1) #Cuando se le específica un parámetro a este método, este número indica el número máximo de bytes.
  #Es decir, el método solamente va a leer la siguiente línea si el numero total de bytes no se ha excedido.
  #Se van acumulando los bytes con cada línea que se lee del documento
  print(file_data_list)
  file_data_list = file1.readlines(25)
  print(file_data_list)

['Nombre: Sergio Omar Esparza Hernández\n']
['Matrícula: A01794338\n', 'Ingeniero mecatrónico\n']

In [ ]:
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto.txt', 'r') as file1:
  print(file1.read(50)) #Si se especifica un número con el método read, lo que hace el método es que lee ese número de caracteres, sin importar que estén en otro renglón
  print(file1.read(4))
  print(file1.read(7))
  print(file1.read(15))

Nombre: Sergio Omar Esparza Hernández
Matrícula: A
0179
4338
In
geniero mecatró

In [ ]:
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto.txt', 'r') as file1:
  print(file1.readline(50)) #Si se especifica un número con el método readline, lo que hace el método es que lee ese número de caracteres, pero solamente regresa los que están en el mismo renglón
  #A diferencia del método read que regresa los caracteres aunque pertenezcan a otro renglón
  print(file1.readline(7))
  print(file1.readline(15))

Nombre: Sergio Omar Esparza Hernández

Matrícu
la: A01794338

## Writing files with open

In [ ]:
#También se puede escribir en archivos utilizando la función open
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'w') as file2: #Si el archivo ya existe, entonces se sobreescribe
  file2.write('Texto de prueba_1\n') #Con el método write se puede escribir texto en el archivo
  file2.write('Texto de prueba_2\n') #Cada que se llama al método write se puede escribir en el objeto de tipo archivo

In [ ]:
#Revisando el texto que se escribió previamente con el método write
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'r') as file2:
  print(file2.read())

Texto de prueba_1
Texto de prueba_2

In [ ]:
#Se puede escribir el contenido de una lista en un archivo
lines = ['Línea 1\n', 'Línea 2\n', 'Línea 3\n', 'Línea 4\n']
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'w') as file2:
  for line in lines: #Con el ciclo for se pueden escribir todos los elementos de una lista en un archivo
    file2.write(line)

In [ ]:
#Revisando el texto que se escribió previamente con el método write
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'r') as file2:
  print(file2.read())

Línea 1
Línea 2
Línea 3
Línea 4

In [ ]:
#Con el modo append no se sobreescribe el archivo cuando ya existe uno con el mismo nombre
#En cambio, se utiliza el archivo que ya existe y se conserva el contenido que ya tiene ese archivo
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'a') as file2:
  file2.write('Línea añadida en modo append')
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'r') as file2:
  print(file2.read()) #Al leer el contenido, se observa que se mantiene el contenido que fue escrito previamente

Línea 1
Línea 2
Línea 3
Línea 4
Línea añadida en modo append

In [ ]:
#Copiar un archivo a otro
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'r') as readfile: #Primero se abre el archivo del que se desea copiar el contenido
  with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_3.txt', 'w') as file3: #Después se crea el archivo en el que se copiará el contenido
    for line in readfile: #Con un ciclo for se copia línea por línea el contenido del archivo y se escribe en el otro archivo
      file3.write(line) 

with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_3.txt', 'r') as file3:
  print(file3.read()) #Verificando el contenido que se copió de un archivo a otro

Línea 1
Línea 2
Línea 3
Línea 4
Línea añadida en modo append

Existen modos adicionales para para acceder a un archivo:
* r+ : Lectura y escritura.
* w+ : Escritura y lectura.
* a+ : Appendig y lectura.

In [ ]:
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'a+') as appendfile: 
  appendfile.write('\nTexto añadido con modo a+\n')
  print(appendfile.read()) #El método read no imprime nada porque el apuntador del método se posiciona después del texto añadido y en esta posición no hay nada que leer

* El método tell indica en qué posición se encuentra el cursor
* Con el método seek se puede mover el cursor por el archivo

In [ ]:
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'a+') as appendfile:
  print('Posición inicial: {}'.format(appendfile.tell()))

  data = appendfile.read() #Se lee el contenido del archivo
  if (not data): #Esta opción será verdadera, ya que no hay nada que leer pues el cursor se coloca al final del texto que contiene el archivo
    print('Nada que leer') 
  else:
    print(appendfile.read())

  appendfile.seek(0,0) #Se mueve cero bytes desde el inicio, se coloca el cursor en el inicio del documento

  print('Nueva ubicación : {}'.format(appendfile.tell()))
  data = appendfile.read() 
  if (not data): #Ahora sí hay datos que leer, pues el cursor se colocó al inicio del archivo y el archivo contiene texto, por lo tanto, se ejecuta la parte del else
    print('Nada que leer')
  else:
    print(data)
  print('Ubicación despues de leer : {}'.format(appendfile.tell()))

Posición inicial: 94
Nada que leer
Nueva ubicación : 0
Línea 1
Línea 2
Línea 3
Línea 4
Línea añadida en modo append
Texto añadido con modo a+

Ubicación despues de leer : 94

La diferencia entre los modos w+ y r+, es que w+ sobreescribe el archivo y borra los datos preexistentes. Para trabajar con datos pre existentes, es necesario utilizar los modos r+ y a+.
Trabajar con r+ se puede añadir el método .truncate() al final de los datos.

In [ ]:
with open('/content/drive/MyDrive/archivos_para_colab/Archivo_texto_2.txt', 'r+') as testfile:
  data = testfile.readlines()
  testfile.seek(0,0) #Se coloca al inicio del archivo
  testfile.write('Línea nueva 1\n')
  testfile.write('Línea nueva 2\n')
  testfile.write('Línea nueva 3\n')
  testfile.truncate() #Este método borrará toda la información que está despues de donde se encuentra el apuntador
  testfile.seek(0,0) #Se coloca al inicio del archivo
  print(testfile.read()) #No se imprimirá nada, ya que el método truncate() eliminó los datos posteriores al último texto que se añadió

Línea nueva 1
Línea nueva 2
Línea nueva 3

###Ejercicio lab de Writing Files

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

In [ ]:
#Código para generar aleatoriamente los archivos de miembros activos e inactivos
from random import randint as rnd

memReg = '/content/drive/MyDrive/archivos_para_colab/members.txt'
exReg = '/content/drive/MyDrive/archivos_para_colab/inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [ ]:
#Código para visualizar la estructura de los archivos
with open(exReg, 'r+') as ex_members:
    print(ex_members.read())
with open(memReg, 'r+') as ex_members:
    print(ex_members.read())

Membership No  Date Joined  Active
    11175      2016-11-19   no
    38199      2015-5-24    no
    54113      2019-12-8    no

Membership No  Date Joined  Active
    35232      2015-10-5    yes
    53901      2016-1-4     no
    46701      2019-8-1     no
    56470      2020-1-19    no
    96495      2019-8-9     no
    44640      2018-12-6    no
    22687      2019-6-12    yes
    27940      2019-7-12    no
    44882      2016-7-20    no
    30664      2019-1-16    no
    68158      2019-2-14    no
    18653      2018-8-1     yes
    75068      2017-11-20   no
    77639      2016-4-11    yes
    72624      2019-11-11   no
    32798      2019-10-10   no
    50643      2018-6-25    yes
    34423      2017-10-20   no
    43134      2017-5-11    no
    77375      2019-12-25   no

In [ ]:
  
'''
Los dos argumentos para esta función son los archivos:
    - currentMem: Archivo que contiene la lista de miembros actuales
    - exMem: Archivo que contiene miembros antiguos
    
    Esta función debe remover todas las filas de currentMem que contienen 'no' 
    en la columna 'Active' y anexarlos a exMem.
    '''
def cleanFiles(currentMem, exMem):
    # Abrir el archivo currentMen como r+
    with open(currentMem, 'r+') as current_members:
        #Abrir el archivo exMem como a+
        with open(exMem, 'a+') as ex_members:

        # Leer cada miembro en currentMem en una lista
            current_list = current_members.readlines()
            inactive = [] #Lista de miembros inactivos
            active = [] #Lista de miembros activos
        #Iterar a través de los miembros y crear lista de miembros inactivos y otra de activos
            for element in current_list:
                if element != current_list[0]:
                    if 'no' in element:
                        inactive.append(element)
                    if 'yes' in element:
                        active.append(element)
        #Desplazarse al inicio del archivo de miembros actuales
            current_members.seek(0,0)
            header = ex_members.readline()
            current_members.truncate() #Eliminar los datos previos para llenar el documento con los datos correctos
        #Si un miembro es inactivo, agregarlo a exMem, en caso contrario añadirlo en currentMem
            for i in inactive:
                ex_members.write(i)
            current_members.write(current_list[0])
            for j in active:
                current_members.write(j)


# Código para visualizar los resultados
# No modificar este código
memReg = '/content/drive/MyDrive/archivos_para_colab/members.txt'
exReg = '/content/drive/MyDrive/archivos_para_colab/inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    35232      2015-10-5    yes
    22687      2019-6-12    yes
    18653      2018-8-1     yes
    77639      2016-4-11    yes
    50643      2018-6-25    yes

Inactive Members:


Membership No  Date Joined  Active
    11175      2016-11-19   no
    38199      2015-5-24    no
    54113      2019-12-8    no
    53901      2016-1-4     no
    46701      2019-8-1     no
    56470      2020-1-19    no
    96495      2019-8-9     no
    44640      2018-12-6    no
    27940      2019-7-12    no
    44882      2016-7-20    no
    30664      2019-1-16    no
    68158      2019-2-14    no
    75068      2017-11-20   no
    72624      2019-11-11   no
    32798      2019-10-10   no
    34423      2017-10-20   no
    43134      2017-5-11    no
    77375      2019-12-25   no

In [ ]:

#Código copiado del lab para verificar que se resolvió adecuadamente el ejercicio
def testMsg(passed):
    if passed:
       return 'Prueba aprobada'
    else :
       return 'Prueba fallada'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# Verificando si el número total de filas es el mismo, incluso el encabezado

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("El número de filas no coincide. Asegúrate que los archivos finales tengan el mismo encabezado y formato")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Miembros inactivos en archivo")
        break
    else:
        if line not in ogWrite:
            print("Los datos en el archivo no coinciden con el archivo original")
            passed = False
print ("{}".format(testMsg(passed)))

Prueba aprobada

##Loading Data with Pandas

In [ ]:
#Pandas es una librería para análisis de datos
#Para utilizar una librería es necesario importarla
#Se puede utilizar la instrucción as para acortar el nombre de la librería
import pandas as pd 
#Ahora se pueden utilizar las clases y funciones de dicha librería

In [ ]:
#Para cargar un archivo csv, se utiliza la función read_csv y la ruta del archivo
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
#Una forma de trabajar con datos en pandas es a través de un data frame
#Los datos se guardan en una variable como data frame

In [ ]:
#El método head se utiliza para examinar las primeras 5 líneas de un data frame, si se le proporciona un parámetro, entonces mostrará las líneas indicadas
#El proceso para cargar un archivo de excel es el mismo, solamente cambia la extensión del archivo
df.head() #Un data frame está compuesto de filas y columnas

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
#Se puede crear un data frame a partir de un diccionario
songs = {'Album': ['Thriller', 'Back in Black', 'The Dark Side of the Moon',
          'The Bodyguard', 'Bat Out of Hell'],
          'Released':[1982, 1980, 1973, 1992, 1977],
         'Length': ['00:42:19', '00:42:11', '00:42:49', '00:57:44', '00:46:33']}
songs_frame = pd.DataFrame(songs)
#Las keys del diccionario corresponden a los encabezados y los valores corresponden a las filas
songs_frame.head()

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

In [ ]:
#Crear data frame a partir de una sola columna
df1 = songs_frame[['Album']]
df1.head()

                       Album
0                   Thriller
1              Back in Black
2  The Dark Side of the Moon
3              The Bodyguard
4            Bat Out of Hell

In [ ]:
#Crear data frame a partir de múltiples columnas
df2 = songs_frame[['Album', 'Length']]
df2.head()

                       Album    Length
0                   Thriller  00:42:19
1              Back in Black  00:42:11
2  The Dark Side of the Moon  00:42:49
3              The Bodyguard  00:57:44
4            Bat Out of Hell  00:46:33

In [ ]:
#El método iloc funciona para obtener elementos únicos del data frame
songs_frame.iloc[0,0]

'Thriller'

In [ ]:
#El método ix no se utiliza más, por lo tanto, ahora se utilizan los métodos iloc y loc para cumplir con las funciones de ix
songs_frame.loc[1,'Album']

'Back in Black'

In [ ]:
#Forma de obtener una parte del data frame y guardarla en otra variable
#Se puede realizar con slicing
z = songs_frame.iloc[0:1,0:2]
z.head()

      Album  Released
0  Thriller      1982

In [ ]:
#También se puede indicar el slicing utilizando los nombres de los encabezados
z1 = df.loc[0:3,'longitude':'total_rooms']
z1.head()

   longitude  latitude  housing_median_age  total_rooms
0    -114.31     34.19                15.0       5612.0
1    -114.47     34.40                19.0       7650.0
2    -114.56     33.69                17.0        720.0
3    -114.57     33.64                14.0       1501.0

##Working with and Saving Data with Pandas

In [ ]:
#Es posible trabajar con datos y guardarlos en otro formato
#Pandas tiene un método unique para determinar los elementos únicos de de una columna de un dataframe
songs_frame['Released'].unique() #El resultado consiste en un arreglo con los elementos únicos en esa columna

array([1982, 1980, 1973, 1992, 1977])

In [ ]:
songs_frame['Released']>=1980 #Esta línea de código regresa un resultados True y False, indicando qué elementos de la columna cumplen con la condición establecida

0     True
1     True
2    False
3     True
4    False
Name: Released, dtype: bool

In [ ]:
#Con este bloque de código se puede crear un data frame a partir de los datos que cumplen con la condición
df_3 = songs_frame[songs_frame['Released']>=1980]
df_3

           Album  Released    Length
0       Thriller      1982  00:42:19
1  Back in Black      1980  00:42:11
3  The Bodyguard      1992  00:57:44

In [ ]:
#Guardar un data frame en un archivo .csv de la siguiente manera
df_3.to_csv('/content/drive/MyDrive/archivos_para_colab/songs_frame1.csv') #Hay otros métodos para guardar los datos en otro formato

In [ ]:
x = df_3['Album'] #De esta manera se guarda el dato como una serie de pandas, es decir, un arreglo 1-D
x

0         Thriller
1    Back in Black
3    The Bodyguard
Name: Album, dtype: object

In [ ]:
#Cambiar las etiquetas de los índices de las filas
nuevos_indices = ['a', 'b', 'c'] #Estas serán las nuevas etiquetas de los índices, se puede crear una lista con las nuevas etiquetas
df_3.index = nuevos_indices #Se modifica la propiedad index con la lista definida previamente
df_3

           Album  Released    Length
a       Thriller      1982  00:42:19
b  Back in Black      1980  00:42:11
c  The Bodyguard      1992  00:57:44

##Captura de pantalla del progreso del curso

![Captura de pantalla 2022-09-27 200734.jpg]()