<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-murasakiw/blob/main/Semana4_Data_Analysis_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analysis with Python(IBM)-Módulo 1

El análisis de datos/la ciencia de datos ayuda a resolver preguntas a partir de los datos.  
El análisis de datos ayuda a:


*   Descubrir información útil.
*   Responder preguntas.
*   Predecir el futuro o lo desconocido.

La información de un conjunto de datos se puede almacenar en una tabla, de esta manera se puede obtener mayor información sobre las columnas del conjunto de datos.

El valor objetivo(target value) es el valor que se desea predecir del conjunto de datos. Los predictores son todas las otras variables listadas.

Librerías para cómputo científico con Python:


*   Pandas-Estructura de datos y herramientas para manipulación efectiva de datos y para análisis. El instrumento principal de pandas es el DataFrame.
*   Numpy-Utiliza arrays para sus entradas y salidas.
*   Scipy-Funciones para problemas matemáticos avanzados, así como visualización de datos.  

Librerías de visualización con Python:


*   Matplotlib-Utilizada para crear gráficos, los gráficos son altamente personalizables.
*   Seaborn-Basada en matplotlib, utilizada para generar mapas de calor, series de tiempo, gráficos de violín.  

Librerías para algoritmos. Involucran tareas de machine learning.


*   Scikit-learn-Herramientas para modelado estadístico (regresión, clasificación, clustering, etc.)
*   Statsmodels-Explorar datos, estimar modelos estadísticos y realizar pruebas estadísticas.

##Importing and Exporting Data in Python

Importar datos. Es el proceso de cargar y leer datos en Python de varias fuentes. Es importante considerar dos propiedades de los datos.  


*   Formato - Es la forma en la que los datos están codificados. Ejemplos, .csv, .json, .xlsx.  
*   Ruta - Indica dónde están almacenados los datos.

In [2]:
#Con la instrucción read_csv se pueden leer archivos separados por comas en un data frame de pandas.
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

df = pd.read_csv(url, header = None) #Como el archivo no contiene encabezados, es necesario especificarlo con el parametro header = None

df.head(n) Muestra las primeras n filas del data frame.  
df.tail(n) Muestra las últimas n filas del data frame.

In [3]:
df.head()#Cuando no se especifica n, se muestran las 5 primeras filas del data frame

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
#Se pueden guardar en una lista los nombres que se desean asignar a los encabezados de un data frame
headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 
           'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
           'wheel-base', 'length', 'width', 'height', 'curb-weight', 
           'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 
           'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm',
           'city-mpg', 'highway-mpg', 'price']

In [5]:
df.columns = headers #Reemplazar nombres de columnas
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Con df.to_csv(path) se puede guardar el contenido de un data frame en un archivo .csv en la ruta especificada como parámetro.