<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-murasakiw/blob/main/Semana4_Data_Analysis_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analysis with Python(IBM)-Módulo 1

El análisis de datos/la ciencia de datos ayuda a resolver preguntas a partir de los datos.  
El análisis de datos ayuda a:


*   Descubrir información útil.
*   Responder preguntas.
*   Predecir el futuro o lo desconocido.

La información de un conjunto de datos se puede almacenar en una tabla, de esta manera se puede obtener mayor información sobre las columnas del conjunto de datos.

El valor objetivo(target value) es el valor que se desea predecir del conjunto de datos. Los predictores son todas las otras variables listadas.

Librerías para cómputo científico con Python:


*   Pandas-Estructura de datos y herramientas para manipulación efectiva de datos y para análisis. El instrumento principal de pandas es el DataFrame.
*   Numpy-Utiliza arrays para sus entradas y salidas.
*   Scipy-Funciones para problemas matemáticos avanzados, así como visualización de datos.  

Librerías de visualización con Python:


*   Matplotlib-Utilizada para crear gráficos, los gráficos son altamente personalizables.
*   Seaborn-Basada en matplotlib, utilizada para generar mapas de calor, series de tiempo, gráficos de violín.  

Librerías para algoritmos. Involucran tareas de machine learning.


*   Scikit-learn-Herramientas para modelado estadístico (regresión, clasificación, clustering, etc.)
*   Statsmodels-Explorar datos, estimar modelos estadísticos y realizar pruebas estadísticas.

##Importing and Exporting Data in Python

Importar datos. Es el proceso de cargar y leer datos en Python de varias fuentes. Es importante considerar dos propiedades de los datos.  


*   Formato - Es la forma en la que los datos están codificados. Ejemplos, .csv, .json, .xlsx.  
*   Ruta - Indica dónde están almacenados los datos.

In [17]:
#Con la instrucción read_csv se pueden leer archivos separados por comas en un data frame de pandas.
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

df = pd.read_csv(url, header = None) #Como el archivo no contiene encabezados, es necesario especificarlo con el parametro header = None

df.head(n) Muestra las primeras n filas del data frame.  
df.tail(n) Muestra las últimas n filas del data frame.

In [18]:
df.head()#Cuando no se especifica n, se muestran las 5 primeras filas del data frame

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [19]:
#Se pueden guardar en una lista los nombres que se desean asignar a los encabezados de un data frame
headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 
           'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
           'wheel-base', 'length', 'width', 'height', 'curb-weight', 
           'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 
           'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm',
           'city-mpg', 'highway-mpg', 'price']

In [20]:
df.columns = headers #Reemplazar nombres de columnas
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Con df.to_csv(path) se puede guardar el contenido de un data frame en un archivo .csv en la ruta especificada como parámetro.

In [15]:
path = '/content/drive/MyDrive/archivos_para_colab/automobile.csv' #En la ruta también se especifica el nombre del archivo

In [9]:
df.to_csv(path) #Se guarda el data frame en la ruta especificada con formato csv



*   Para archivos con formato csv. pd.read_csv() ----- df.to_csv()
*   Para archivos con formato json. pd.read_json() ----- df.to_json()
*   Para archivos con formato de Excel. pd.read_excel() ----- df.to_excel()
*   Para archivos con formato sql. pd.read_sql() ----- df.to_sql()

##Getting Started Analyzing Data in Python

Pandas tiene varias herramientas para conocer a mayor detalle los datos que contiene un dataframe.  
Se puede verificar lo siguiente:


*   Tipo de los datos almacenados
*   Distribución de los datos
*   Identificar posibles problemas con los datos

Es necesario verificar el tipo de los datos porque Pandas asigna el tipo de dato de acuerdo con la codificación que detecta de los datos originales. Esta asignación puede resultar incorrecta en algunos casos. Esto es importante porque algunas funciones matemáticas solo se pueden aplicar a ciertos tipos de datos.

In [21]:
df.dtypes #El atributo dtypes regresa el tipo de dato de todos los elementos en cada una de las columnas

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [22]:
df.describe() #Regresa una descripción estadística de los elementos en cada columna del data frame
#De manera predeterminada el método describe omite las columnas que tienen datos de tipo object

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [23]:
#Para incluir a las columnas que tienen datos de tipo object
df.describe(include='all') #Esta descripción incluye otros elementos para describir a las variables que no son numéricas

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [24]:
#Otra función que se puede utilizar para verificar el conjunto de datos es info. Esta función muestra una descripción del conjunto de datos.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB